
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 600;
	font-style: normal;
}

body {
	background-image: url(./images/background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.121);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-options {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	display: flex;
	justify-content: center;
	justify-content: center;
	background-color: rgba(82, 47, 47, 0.391);
}
#options-container {
	width: 50%;
	height: 60%;
	display: flex;
	justify-self: center;
	align-self: center;
	background-color: #f0dadab1;
	border-radius: 15px;
	flex-direction: column;
	align-items: center;
	border: #9e4141 solid 3px;
	gap: 1rem;
}

.theme-span {
	font-size: 2.5rem;
	color: rgba(201, 92, 92, 0.812);
	font-weight: 600;
	position: relative;
}

.theme {
	font-size: 3.5rem;
	color: rgba(198, 66, 66);
	font-weight: 600;
	position: relative;
	right: 2rem;
	margin-left: 2rem;
}
#options-container h3 {
	font-size: 2.5em;
	color: #f7ebeb;
	text-align: start;
	align-self: flex-start;
	padding: 15px;
	padding-left: 25px;
	padding-right: 20.17rem;
	font-weight: 600;
	background-color: rgba(198, 66, 66, 0.549);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.heart-svg{
  width: 90px;
  height: 90px;
  fill: rgba(213, 82, 82, 0.89);
}
.count{
  display: flex;
align-items: center;
margin-left: 1.5rem;
}

.count-span{
  font-size: 3.2rem;
	color: #f7ebeb;
position: absolute;
left: 4.2rem;
top:1.4rem
}
#options-container button:hover {
  background-color: rgba(206, 56, 56, 0.792);

}

#options-container button {
	width: 45%;
	padding: 0.9rem 0.8rem;
	border: none;
	border-radius: 10px;
	background-color: rgba(198, 66, 66, 0.714);
	color: #f8f5f5;
	font-size: 2rem;
	margin: 1.5rem 0.7rem;
	cursor: pointer;
	font-weight: 600;
	position: relative;
	top: 0.5rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.game-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	align-items: center;
  margin-top: -3rem;
}


.letters {
	border: none;
	background-color: rgba(198, 66, 66, 0.714);
	padding: 1rem;
	width: 6rem;
	border-radius: 20px;
	margin: 5px;
	color: beige;
	font-size: 30px;
	margin-top: 10px;
}

.letter-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-inline: 12rem;
	margin-bottom: -7rem;
}

.dashes {
	background-color: rgba(213, 76, 76, 0.807);
	padding: 1.5rem;
	border-radius: 20px;
	margin: 5px;
	color: bisque;
	font-size: 40px;
	width: 4rem;

	position: relative;
	bottom: 7rem;
}

.user-input-section {
	position: relative;
	bottom: 7rem;
}

.letters-not-chosen {
	background-color: rgba(54, 125, 40, 0.308);

	color: transparent;
	padding-inline: 1.7rem;
}

.chosen-letter {
	background-color: rgba(255, 155, 155, 0.621);
	color: transparent;
}
.modal-game{

  position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	display: flex;
	justify-content: center;
	justify-content: center;
	background-color: rgba(82, 47, 47, 0.391);
}

.new-game-popup{
  width: 30%;
	height: 40%;
	display: flex;
	justify-self: center;
	align-self: center;
	background-color: #f0dadace;
	border-radius: 15px;
	flex-direction: column;
	align-items: center;
	border: #9e4141 solid 3px;
	gap: 1rem;
  padding-top: 1.5rem;
}

.new-game-popup button{
  width: 60%;
	padding: 0.9rem 0.8rem;
	border: none;
	border-radius: 10px;
	background-color: rgba(198, 66, 66, 0.792);
	color: #f8f5f5;
	font-size: 2rem;
	margin: 1rem 0.7rem;
	cursor: pointer;
	font-weight: 600;
}
#result-text{
 font-size: 2em;
	color: #9e4141;
	text-align: center; 

}
.lose-msg{
  color: #8e1212;
}
.win-msg{
  color: #165a16;
}
.none {
	display: none;
}

button:hover{
  background-color: rgba(206, 56, 56, 0.792);
}